:root {
    --shop-pic-height : 120px;
}

.user-order-window-order-area {
    display: flex;
    position: relative;
}

.user-order-window-group-list {
    width: 250px;
}

.user-order-window-item-list {
    flex-grow: 1;
}

.user-order-window-item-list-group-area {
    margin-bottom: .75rem;
}

.user-order-window-item-list-group-title *,
.user-order-window-item-list-group-title{
    font-size: var(--window-title-font-size);
    color: var(--dark);
    margin: 0.25rem 0;
    font-weight: bolder;
}

.user-order-window-item-list-group-title .edit-entry-input {
    
}

.user-order-window-item-list-group-items {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 18px));
    gap: 24px 24px;
}

.user-order-window-item-list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0 0 5px rgb(0 0 0 / 13%), 1px 1px 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    transition: all .25s;
    height: 75px;
    cursor: pointer;
    position: relative;
}

.menu-item-mains {
    flex: 0 0 calc( 100% - 40px);
    overflow: hidden;
}

.mmenu-item-btns {
    flex: 0 0 40px;
}

.user-order-window-item-list-group-item:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 13%), 3px 3px 8px rgb(0 0 0 / 30%);
    transform: translateX(-2px) translateY(-2px);
}

.menu-item-title *,
.menu-item-title {
    font-size: 1rem;
    font-weight: bold;
    width: calc(100% - 15px);
}

.menu-item-price *,
.menu-item-price {
    font-size: 1rem;
    width: calc(100% - 15px);
}

.menu-item-desc *,
.menu-item-desc {
    font-size: var(--sub-font-size);
    color: var(--secondary);
    width: calc(100% - 15px);
}


.user-order-window-title-area {
    position: relative;
    min-height: 120px;
    overflow: hidden;
    z-index: 1;
}

.user-order-window-title-image {
    position: absolute;
    z-index: 1;
    transform: translateY(calc(-50% + 60px) );
    width: 100%;
}

.user-order-window-title-infos {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: rgb(203, 203, 203);
    pointer-events: none;
}


.user-order-window-title-shop-name {
    font-weight: bolder;
    font-size: var(--big-title-font-size);
}

.user-order-window-title-shop-score {

}

.user-order-window-title-shop-description {
    font-size: var(--sub-font-size);
}

.order-check-window-info {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.order-check-window-set-number {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
}

.order-check-window-set-content {
    margin: 0;
    width: calc( 100% - 8px);
    height: 1.5rem;
}

.order-check-window-set-content input {
    width: 100%;
}

.add-item-btn {
    padding: 0.5rem;
    font-weight: bolder;
    border: 3px gray dashed;
    background-color: rgba(0,0,0,10%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item-btn:hover {
    background-color: rgba(0,0,0,15%);
}

.cant-edit .edit-entry-input{
    display: none;
}

.edit-entry .edit-entry-input{
    display: none;
}

.edit-entry:hover .edit-entry-input,
.edit-entry:focus .edit-entry-input
.edit-entry:focus-within .edit-entry-input,
.edit-entry:focus-visible .edit-entry-input,
.edit-entry-input:active,
.edit-entry-input:focus 
{
    display: unset;
}

.edit-entry:hover .edit-entry-label,
.edit-entry:focus .edit-entry-label
.edit-entry:focus-within .edit-entry-label,
.edit-entry:focus-visible .edit-entry-input,
.edit-entry-input:active +.edit-entry-label,
.edit-entry-input:target +.edit-entry-label,
.edit-entry-input:focus +.edit-entry-label
{
    display: none;
}
