#summernote-announcement-shower-up .note-editable {
    background-color: #fff !important;
}

#summernote-announcement-shower-up .note-editor.note-frame {
    border: 1px solid #767676 !important;
}

#hap-announcement-list-window .disabled-input{
    border: 1px solid #767676 !important;
    background-color: #fff !important;
}